/* body 
body{
    
    background-color: #E6E7E8;
    

}


/* navbar  */

/* .navbar_section{
    height: 69px;
    width: 100%;
} */
/* .navbar{
    list-style-type: none;
    padding: 0; 
    background-color:white;
    position: fixed;
    
    height: 69px;
    display: flex;
    width: 100%;
    text-align: right;
    justify-content: flex-end;
    
    
} */

/* navbar items  */
/* .navbar li{
    color:black;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px;
    
   
    
    
} */
/* .navbar li:last-child{
    margin-right: 70px;
}



.navbar li:hover{
   
    text-decoration:underline ;
    padding-bottom: 8px;


} */
/* navbar logo  */
/* .navbar-logo{
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 20;
    z-index: 1;
    
}
.navbar-logo img{
    height: 150px;
    width: 250;
} */


/* first section  */
/* .image{
    width: 100%;
    height:550px;
    
}




 .section2{
    width: 100%;
    height:550px;
    background-color: gray;
}

.section3{
    width: 100%;
    height:550px;
    background-color: rgb(210, 30, 30);
}
  */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.strip{
    border: 1px solid black;
    width: 100%;
    height:36px;
    background-color: black;
}

.nav{
    /* border: 1px solid black; */
    height: 72px;
    width: 100%;
    list-style-type: none;
    padding: 0; 
    background-color:white;
    /* position: fixed; */
    text-align: right;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    
}

.navbar-logo{
    margin-top: 40px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: .6%;
    /* z-index: 1; */
    /* padding: 6px; */
    
}



.navbar-logo img{
    height: 60px;
    /* width: 10%; */
} 

.navbar li.a{
    color:black;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px;
    font-size: 20PX;
    transition: all 1s ease;
    position: relative;
    cursor: pointer;
    
}

.navbar li.a:last-child{
    margin-right: 70px;
}

.navbar li.a:hover{
   
    border-bottom: 0.1px solid black; ;
    padding-bottom: 8px;
    font-weight: bold;


}


.sec1{
    /* border: 1px solid black; */
    height: 550px;
    width: 100%;
    background-image: linear-gradient(90deg, #ffcc32,#f16748,#ef4658,#bf3a85,#84549e,#4955a1,#419dcd,#46b055);
    /* animation:bacanimate 10s infinite linear ; */
    /* background-size: 200% 200%; */
}



    


.gradient{
    margin-top: 0px;
    margin-left: 20%;
    height: 550px;
    /* float: left; */

}

.container {
    border: 1px solid black;
    position: relative;
    display: inline-block;
  }
  
  /* .line {
     border: 1px solid black; 
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: black;
  }
   */
  .sec1 .text {
    /* border: 1px solid black; */
    position: absolute;
    /* top: 45%; */
    /* left: 34%; */
    /* transform: translateY(1%); */
    opacity: 0;
    white-space: nowrap;
    animation: textAnimation 2s infinite ;
    margin-top: -180px;
    font-size: 58px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 33%;

    
  }
  
  @keyframes textAnimation {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    }
    50% {
      opacity: .3;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

.sec2{
    /* border: 1px solid black; */
    height: 550px;
    width: 100%;
    background-color: #f1f2f2;
    text-align: center;
    padding: 23px;
    
}

.first{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    /* margin-left: 46%; */
    color: black;
    font-size:60px;
    /* background-color: #f1f2f2; */
    

}

.last{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    /* margin-left: 0.7%; */
    color: #668f3d;
    font-size: 60PX;
    /* background-color: #f1f2f2; */
    

}
.last::before{
    content: '\00a0';
}


.sec2sub1{
    /* border: 1px solid black; */
    height: 350px;
    width: 40%;
    
    margin-top: 75px;
    margin-left: 5%;
    float: left;
}

.sec2sub1 p{
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 7px; */
    margin-top: 80px;
}

.sec2sub2{
    /* border: 1px solid black; */
    height: 330px;
    width: 45%;
    
    margin-top: 110px;
    margin-left: 50%;
}

.sec2sub2sub1{
    /* border: 1px solid black; */
    height: 250px;
    width: 18%;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 5%;
    display: inline-block;
    position: relative;
    
}

.photo1{
    height: 250px;
    width: 100%;

    
}
.name{
    position:absolute;
    bottom: -100%;
    right: 0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.5);
    height:100%;
    transition: 0.5s ease;
    width: 100%;
    /* filter: blur(15px); */
    backdrop-filter: blur(10px);
    color: white;
}


.sec2sub2sub1:hover .name{
    bottom: 0%;
}

/* .h1{
    transform: rotate(-5deg)skewX(-5deg);
} */



.sec3{
    /* border: 1px solid black; */
    height: 550px;
    width: 100%;
    background-color: #f1f2f2;
    text-align: left;
    padding: 23px;
}

.sec4{
    border: 1px solid black;
    height: 550px;
    width: 100%;
    text-align: center;
    padding: 23px;
    
}
.sec5{
    border: 1px solid black;
    height: 550px;
    width: 100%;
    
}
.sec6{
    border: 1px solid black;
    height: 550px;
    width: 100%;
}

.sec7{
    border: 1px solid black;
    height: 550px;
    width: 100%;
}

.sec8{
    border: 1px solid black;
    height: 550px;
    width: 100%;
}

.sec9{
    border: 1px solid black;
    height: 550px;
    width: 100%;
    text-align: center;
    padding: 23px;
}

.sec10{
    border: 1px solid black;
    height: 550px;
    width: 100%;
    background-color: #f1f2f2;
    text-align: left;
    padding: 23px;
    
}

.sec11{
    border: 1px solid black;
    height: 1045px;
    width: 100%;
    text-align: center;
    padding: 23px;
}

.con1{
    border: 1px solid black;
    height: 500px;
    width: 45%;
    float: left;
    padding: 2px;
    margin-top: 80px;
}
.con1 .con-tit{
    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
    margin-top: 40px;
}

.con1 .con-cont{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.con2{
    border: 1px solid black;
    height: 900px;
    width: 50%;
    margin-left: 50%;
    
    
}


#register{
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 50%;
    margin-top: 80px;
    margin-left: 30%;
    border-radius: 20px;
    /* height: 100vh; */
    /* color: white; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 2px; */
    font-size: 44px;
    /* font-weight: bold; */
    position: relative;
    text-align: left;
}

#register span{
    position: absolute;
    font-size: 14px;
    color: red;
    margin-top: 30px;
}




.submit-form{
    width: 80px;
    height: 40px;
    /* color: white; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    
}

.inp{
    height: 70px;
    width: 85%;
    font-size: x-large;
    padding: 10px;
}

label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 23px;
    
}

.sec12{
    border: 1px solid black;
    height: 150px;
    width: 100%;
}

