body{
    
    background-color: #191919;
}

.navbar{
    list-style-type: none;
    padding: 0;
    background-color:black;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    

}
.navbar li{
    color:aliceblue;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 6px;
   
    
    
}

.navbar li:last-child{
    color:aliceblue;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 6px; */
    margin-right: 100px;
    
    
}

.navbar li:hover{
    text-decoration:underline ;
    padding-bottom: 8px;
    
}
.image{
    width: 100%;
}